In [1]:
suppressWarnings(suppressPackageStartupMessages({
    library(tidyverse)
    library(data.table)
}))

In [3]:
# input
idx_file="gwas-current-gz-wc.20200704-155715.tsv"
missing_f='missing_pop_GBE.minN100.20200704-173242.tsv'

# output
out_f=str_replace(idx_file, '.tsv$', '.annotated.tsv')
combined_out_f=str_replace(idx_file, '.tsv$', '.combined.tsv')

In [4]:
missing_df <- missing_f %>% fread() %>% rename('population'='#population')

In [5]:
df <- fread(idx_file) %>%
rename('symlink'='#symlink') %>%
separate(symlink, c(rep(NA, 9), 'population', 'basename'), sep='/', remove=F, fill='right', extra='drop') %>%
separate(basename, c(NA, 'GBE_ID', NA), sep='\\.', remove=T, fill='right', extra='drop') %>%
select(GBE_ID, population, symlink, location, wc_l)

In [6]:
df %>%
rename('#GBE_ID' = 'GBE_ID') %>%
fwrite(out_f, sep='\t', na = "NA", quote=F)

In [7]:
df %>%
bind_rows(missing_df) %>%
replace_na(list(wc_l=0)) -> combined_df

In [10]:
combined_df %>%
rename('#GBE_ID' = 'GBE_ID') %>%
fwrite(combined_out_f, sep='\t', na = "NA", quote=F)

In [11]:
combined_df %>% count(wc_l, population) %>%
arrange(-wc_l, population)

   wc_l    population        n
1  1080969 african           2696
2  1080969 e_asian           1917
3  1080969 non_british_white 3226
4  1080969 others            3294
5  1080969 related           3357
6  1080969 s_asian           2863
7  1080969 white_british     3587
8  1080600 others               1
9  1080600 related              3
10 1080567 white_british        1
11 1080278 others             144
12 1080278 related             83
13 1059397 african            216
14 1059397 e_asian            252
15 1059397 non_british_white  148
16 1059397 s_asian            132
17 1059397 white_british      132
18 1024521 related              1
19 1001756 white_british        1
20  891019 white_british        1
21  890538 white_british        1
22  837659 white_british        1
23  836299 white_british        1
24  779198 white_british        1
25  727614 white_british        1
26  726430 white_british        1
27  725231 white_british        1
28  672894 white_british        1
29  671362 white_british        1
30  454904 white_british        1
31  412155 white_british        1
32  402771 white_british        1
33  400782 white_british        1
34  399908 white_british        1
35  347741 white_british        1
36  345881 white_british        1
37  314970 non_british_white    1
38  238354 white_british        1
39  238278 white_british        1
40  184890 white_british        1
41  183541 white_british        1
42  163630 others               1
43  163593 others               1
44  130073 white_british        1
45  129516 white_british        1
46  106772 white_british        1
47   75190 white_british        1
48   75167 white_british        1
49   21171 african             11
50   21171 e_asian             11
51   21171 non_british_white   11
52   21171 s_asian             11
53   21171 white_british       12
54       0 african              9
55       0 e_asian             85
56       0 non_british_white   29
57       0 others              10
58       0 related             10
59       0 s_asian              3
60       0 white_british       69