In [1]:
suppressWarnings(suppressPackageStartupMessages({
    library(tidyverse)
    library(data.table)
}))

In [2]:
# input
idx_file="gwas-current-gz-wc.20200717-173655.tsv"
missing_f='missing_pop_GBE.minN100.20200717-171539.tsv'

# output
out_f=str_replace(idx_file, '.tsv$', '.annotated.tsv')
combined_out_f=str_replace(idx_file, '.tsv$', '.combined.tsv')

In [3]:
missing_df <- missing_f %>% fread() %>% rename('population'='#population')

In [4]:
df <- fread(idx_file) %>%
rename('symlink'='#symlink') %>%
separate(symlink, c(rep(NA, 9), 'population', 'basename'), sep='/', remove=F, fill='right', extra='drop') %>%
separate(basename, c(NA, 'GBE_ID', NA), sep='\\.', remove=T, fill='right', extra='drop') %>%
select(GBE_ID, population, symlink, location, wc_l)

In [5]:
df %>%
rename('#GBE_ID' = 'GBE_ID') %>%
fwrite(out_f, sep='\t', na = "NA", quote=F)

In [6]:
df %>%
bind_rows(missing_df) %>%
replace_na(list(wc_l=0)) -> combined_df

In [7]:
combined_df %>%
rename('#GBE_ID' = 'GBE_ID') %>%
fwrite(combined_out_f, sep='\t', na = "NA", quote=F)

In [8]:
combined_df %>% count(wc_l, population) %>%
arrange(-wc_l, population)

   wc_l    population        n
1  1080969 african           2697
2  1080969 e_asian           1973
3  1080969 non_british_white 3241
4  1080969 others            3296
5  1080969 related           3358
6  1080969 s_asian           2863
7  1080969 white_british     3674
8  1080600 others               1
9  1080600 related              3
10 1080278 african            206
11 1080278 e_asian            249
12 1080278 non_british_white  142
13 1080278 others             144
14 1080278 related             83
15 1080278 s_asian            121
16 1080278 white_british      121
17       0 african              7
18       0 e_asian             21
19       0 non_british_white   10
20       0 others              10
21       0 related             10
22       0 s_asian              3
23       0 white_british       11

In [9]:
combined_df %>% count(wc_l) %>%
arrange(-wc_l)

  wc_l    n
1 1080969 21102
2 1080600     4
3 1080278  1066
4       0    72