In [1]:
suppressPackageStartupMessages(library(tidyverse))
suppressPackageStartupMessages(library(data.table))

Warning message:
“package ‘ggplot2’ was built under R version 3.6.2”Warning message:
“package ‘tibble’ was built under R version 3.6.3”Warning message:
“package ‘tidyr’ was built under R version 3.6.2”Warning message:
“package ‘dplyr’ was built under R version 3.6.2”Warning message:
“package ‘forcats’ was built under R version 3.6.2”

In [2]:
gwas_covar_f <- '/oak/stanford/groups/mrivas/ukbb24983/sqc/population_stratification_w24983_20200313/ukb24983_GWAS_covar.20200313.phe'

In [5]:
out_d <- '/oak/stanford/groups/mrivas/ukbb24983/sqc/population_stratification_w24983_20200313'

In [6]:
gwas_covar_df <- fread(
    gwas_covar_f,
    select=c('FID', 'IID', 'population', 'sex'),
    colClasses=c('FID'='character', 'IID'='character')
)

```
sex: 1 indicates male; 0 indicates female
```

In [7]:
gwas_covar_df %>% 
count(sex)

  sex n
1  0  264861
2  1  223509
3 NA       7

In [8]:
pops <- c('white_british', 'non_british_white', 'african', 's_asian', 'e_asian')

for (pop in pops){
    print(pop)
    
    gwas_covar_df %>% 
    filter(population == pop) %>%
    filter(sex == 0) %>%
    select(FID, IID) %>% 
    fwrite(
        file.path(out_d, paste0('ukb24983_', pop, '.F', '.phe')), 
        sep='\t', col.names = F
    )
    
    gwas_covar_df %>% 
    filter(population == pop) %>%
    filter(sex == 1) %>%
    select(FID, IID) %>% 
    fwrite(
        file.path(out_d, paste0('ukb24983_', pop, '.M', '.phe')), 
        sep='\t', col.names = F
    )
}

[1] "white_british"
[1] "non_british_white"
[1] "african"
[1] "s_asian"
[1] "e_asian"

In [9]:
gwas_covar_df %>% 
filter(sex == 0) %>%
select(FID, IID) %>% 
fwrite(
    file.path(out_d, paste0('ukb24983', '.F', '.phe')), 
    sep='\t', col.names = F
)

gwas_covar_df %>% 
filter(sex == 1) %>%
select(FID, IID) %>% 
fwrite(
    file.path(out_d, paste0('ukb24983', '.M', '.phe')), 
    sep='\t', col.names = F
)