In [1]:
suppressPackageStartupMessages(library(tidyverse))
suppressPackageStartupMessages(library(data.table))

# UK Biobank additional population definition

- We define `Chinese` (n = 1419), `Indian` (n = 5117), `Pakistani` (n = 1583), and `Bangladeshi` (n = 209) populations, based on the self-reported ethnicity data (UKB field 21000)

In [2]:
sqc_f <- '/oak/stanford/groups/mrivas/ukbb24983/sqc/population_stratification_w24983_20200313/ukb24983_master_sqc.20200313.phe'

In [3]:
sqc_df <- fread(
    sqc_f, 
    select=c('FID', 'IID', 'pass_filter', 'f21000', 'f21000_top_label', 'f21000_sub_label')
)

In [4]:
sqc_df %>% filter(pass_filter) %>% count(f21000, f21000_top_label, f21000_sub_label)

   f21000 f21000_top_label       f21000_sub_label           n
1    -3   Prefer not to answer   Prefer not to answer         1307
2    -1   Do not know            Do not know                   181
3     1   White                  White                         441
4     2   Mixed                  Mixed                          42
5     3   Asian or Asian British Asian or Asian British         34
6     4   Black or Black British Black or Black British         22
7     5   Chinese                Chinese                      1419
8     6   Other ethnic group     Other ethnic group           4007
9  1001   White                  British                    355081
10 1002   White                  Irish                       10492
11 1003   White                  Any other white background  14539
12 2001   Mixed                  White and Black Caribbean     527
13 2002   Mixed                  White and Black African       362
14 2003   Mixed                  White and Asian               719
15 2004   Mixed                  Any other mixed background    889
16 3001   Asian or Asian British Indian                       5117
17 3002   Asian or Asian British Pakistani                    1583
18 3003   Asian or Asian British Bangladeshi                   209
19 3004   Asian or Asian British Any other Asian background   1629
20 4001   Black or Black British Caribbean                    3789
21 4002   Black or Black British African                      3067
22 4003   Black or Black British Any other Black background    107
23   NA   NA                     NA                           1171


```
out_d <- '/oak/stanford/groups/mrivas/ukbb24983/sqc/population_stratification_w24983_20200313'
```

In [6]:
additional_pops <- c(
    'Chinese', 'Indian', 'Pakistani', 'Bangladeshi'
)

In [7]:
for(pop in additional_pops){
    sqc_df %>%
    filter(pass_filter, f21000_sub_label==pop) %>%
    select('FID', 'IID') %>%
    fwrite(
        file.path(out_d, paste0('ukb24983_', pop, '.phe')),
        sep='\t', col.names = F
    )
    file.path(out_d, paste0('ukb24983_', pop, '.phe')) %>% print()
}

[1] "/oak/stanford/groups/mrivas/ukbb24983/sqc/population_stratification_w24983_20200313/ukb24983_Chinese.phe"
[1] "/oak/stanford/groups/mrivas/ukbb24983/sqc/population_stratification_w24983_20200313/ukb24983_Indian.phe"
[1] "/oak/stanford/groups/mrivas/ukbb24983/sqc/population_stratification_w24983_20200313/ukb24983_Pakistani.phe"
[1] "/oak/stanford/groups/mrivas/ukbb24983/sqc/population_stratification_w24983_20200313/ukb24983_Bangladeshi.phe"