# Sample QC and population definition
#### Yosuke Tanigawa (ytanigaw@stanford.edu)
#### Last update: 2020/3/13

We define the following 5 populations in UK Biobank. Please see `README.md` file for more details.

In [8]:
suppressWarnings(suppressPackageStartupMessages({
    library(tidyverse)
    library(data.table)
}))

In [10]:
sqc_f <- '/oak/stanford/groups/mrivas/ukbb24983/sqc/population_stratification_w24983_20200313/ukb24983_master_sqc.20200313.phe'

In [11]:
sqc_df <- fread(sqc_f)

In [15]:
sqc_df %>% 
filter(
    used_in_pca_calculation == 1, 
    excess_relatives == 0, 
    het_missing_outliers == 0, 
    putative_sex_chromosome_aneuploidy == 0
) %>%
count(population) %>%
arrange(-n)

  population        n
1 white_british     337138
2 NA                 28551
3 non_british_white  24905
4 s_asian             7885
5 african             6497
6 e_asian             1154
7 e_asian_outlier      618
8 s_asian_outlier       77

In [16]:
337138 + 24905 + 7885 + 6497 + 1154

[1] 377579

In [17]:
337138 + 24905 + 7885 + 6497 + 1154 + 28551

[1] 406130

In [18]:
(337138 + 24905 + 7885 + 6497 + 1154 + 28551) / (337138 + 24905 + 7885 + 6497 + 1154)

[1] 1.075616