In [2]:
suppressWarnings(suppressPackageStartupMessages({
    library(tidyverse)
    library(data.table)
}))

In [1]:
wc_l_f <- '/scratch/groups/mrivas/ukbb24983/exome/gwas/master_phe_20201002_exomeOQFE/wc_l.20201105-081350.tsv'

In [3]:
wc_l_f %>% fread(colClasses = c('#population'='character')) %>%
rename('population'='#population') -> wc_l_df

In [4]:
wc_l_df %>% dim()

[1] 20013     8

In [5]:
wc_l_df %>% filter(NF_wc_l == 1, wc_l %in% c(17777817, 17777951)) %>% dim()

[1] 20013     8

In [6]:
wc_l_df %>% filter(NF_wc_l == 1, wc_l %in% c(17777817, 17777951)) %>%
count(population)

  population        n
1 african           2641
2 e_asian           2011
3 non_british_white 3152
4 others            3031
5 related           2921
6 s_asian           2897
7 white_british     3360

In [7]:
wc_l_df %>% filter(NF_wc_l == 1, wc_l %in% c(17777817, 17777951)) %>%
count(wc_l)

  wc_l     n
1 17777817  2225
2 17777951 17788

In [9]:
wc_l_df %>% count(NF_wc_l, wc_l)

  NF_wc_l wc_l     n
1 1       17777817  2225
2 1       17777951 17788