In [8]:
suppressWarnings(suppressPackageStartupMessages({
    library(tidyverse)
    library(data.table)
}))

In [31]:
'3a_check_results.BINs.20201102-171020.tsv'%>%
fread() %>% rename('population'='#population') -> df

In [32]:
df %>% filter(n_finished_batch == 100) %>%
count(population) %>% print()

          population    n
1:           african 1143
2:           e_asian  603
3: non_british_white 1595
4:            others 1477
5:           related 1385
6:           s_asian 1369
7:     white_british 1873

In [33]:
df %>% filter(n_finished_batch != 100) %>%
count(population) %>% print()

df %>% filter(n_finished_batch != 100, population == 'white_british') %>%
mutate(n_unfinished = 100 - n_finished_batch) %>%
pull(n_unfinished) %>% sum() / 100

      population  n
1: white_british 11

[1] 0.36

1000 pheno remaining

In [34]:
df %>% filter(n_finished_batch != 100) %>% count(n_finished_batch) %>% arrange(n_finished_batch)

  n_finished_batch n
1 90               1
2 92               1
3 94               1
4 96               1
5 98               1
6 99               6

In [35]:
df %>% filter(n_finished_batch != 100) %>% arrange(n_finished_batch)

   population    GBE_ID n_finished_batch
1  white_british HC1308 90
2  white_british HC1307 92
3  white_british HC1314 94
4  white_british HC1299 96
5  white_british HC1584 98
6  white_british HC1297 99
7  white_british HC1317 99
8  white_british HC1319 99
9  white_british HC1362 99
10 white_british HC1563 99
11 white_british HC1582 99

In [24]:
2000 / 60

[1] 33.33333

400 jobs at once.

33 h per phe * 1000 pheno / 400 = 82.5 = 3.5 days