In [1]:
suppressWarnings(suppressPackageStartupMessages({
    library(tidyverse)
    library(data.table)
}))

In [2]:
master_phe_f <- '/oak/stanford/groups/mrivas/ukbb24983/phenotypedata/master_phe/master.20200618.phe'

In [11]:
GBE_IDs <- c(
    'INI21048', 'INI21049', 'INI21051', 'INI21052', 'INI21053', 'INI21054',
    'INI21055', 'INI21056', 'INI21058', 'INI21059', 'INI21060', 'INI21061'
)

In [12]:
master_phe_df <- fread(
    master_phe_f,
    select=c('FID','IID','population',GBE_IDs),
    colClasses=c('FID'='character', 'IID'='character')
)

In [13]:
master_phe_df %>% count(population)

  population        n
1 -9                 28498
2 african             6497
3 e_asian             1154
4 e_asian_outlier      618
5 non_british_white  24905
6 s_asian             7885
7 s_asian_outlier       77
8 white_british     337138
9 NA                109998

In [14]:
master_phe_df %>% 
filter(population=='white_british') %>%
count(INI21049)

  INI21049 n
1 -9       240117
2  1        33989
3  2        63032

In [15]:
master_phe_df %>% 
count(INI21049)

  INI21049 n
1 -9       379011
2  1        48265
3  2        89494

In [16]:
master_phe_df %>% 
filter(population=='white_british') %>%
count(INI21048)

  INI21048 n
1 -9       214782
2  1        48044
3  2        57522
4  3        16790